@model List<Daily_report>
@{
    ViewData["Title"] = "Daily_Report_data";
}


<div class="container mt-3">
    <h2 style="padding:1%;">Daily Production Report</h2>
    <section>
        <form asp-action="ViewGrid2" method="post">
        <div class="row">
            <div class="col-lg-12">
                <div style="height:250px">
                    <div style="height:420px;overflow-x:scroll;">
                        
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>CurrentDate</th>
                            <th>FG Name</th>
                            <th>PCB_COUNT</th>
                        </tr>
                    </thead>
                    <tbody>
                      
                            @if (Model != null)
                            {
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>@item.CurrentDate</td>
                                    <td>@item.FG_Name</td>
                                    <td>@item.PCB_COUNT</td>
                                </tr>
                                }

                            }
                            else
                            {
                                <tr>
                                <td colspan="5" style="text-align:center;">Nodata</td>
                            </tr>
                            }
                      
                    </tbody>
                </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top:15%;">
            <div class="col-lg-12" style="text-align:right;">
                <input type="submit" class="btn btn-primary" id="btnViewGrid" name="View Grid2" value="View Grid"/>
            </div>
        </div>
        </form>
    </section>

</div>

